<div class="wrapper-header">
  <nav class="navbar navbar-expand-sm navbar-light bg-secondary justify-content-center">
    <a href="/" class="navbar-brand d-flex w-40 mr-auto"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar3">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">
      <ul class="navbar-nav w-100 justify-content-center">
        <li class="nav-item" [ngClass]="{'selected':this.searchService.activePage === navItem}" *ngFor="let navItem of navMenu">
          <a class="nav-link text-white" (click)="setPage(navItem)">{{navItem}}</a>
        </li>
        <!-- <li class="nav-item">
        <a class="nav-link text-white">TOP 100</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white">COMPARE PLAYERS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white">BEST PLAYERS BY COUNTRY</a>
      </li> -->
      </ul>
      <ul class="nav navbar-nav ml-auto w-40 justify-content-end">

      </ul>
    </div>
  </nav>
  <h4 class="display-5 text-center">SELECTED GAME</h4>
  <div class="games px-5 py-5 pt-md-1 pb-md-3 mx-auto text-center">
    <span class="game-item" *ngFor="let game of games" [ngClass]="{'selected':this.searchService.selectedGame === game.key}" (click)=switchGame(game)>{{game.name}}</span>
  </div>
  <h4 class="display-5 text-center">REGION</h4>
  <div class="regions px-5 py-5 pt-md-1 pb-md-2 mx-auto text-center">
    <span class="region-item" *ngFor="let region of selectedRegions" [ngClass]="{'selected':this.searchService.selectedRegion === region.value}" (click)=switchRegion(region)>{{region.value}}</span>
  </div>
</div>