<div class="wrapper-top100">
  <div class="leaderboards px-5 py-5">
    <div class="labels">
      <h1 class="display-5">LEADERBOARDS</h1>
      <h1 class="display-5">TOP 100</h1>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Rank</th>
          <th>Nickname</th>
          <th>Skill level</th>
          <th>ELO</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let player of this.searchService.TOPPlayers">
          <td>#{{player.position}}</td>
          <td><span class="{{this.searchService.getCountry(player.user.country)}} "></span>{{player.user.nickname}}</td>
          <td>{{player.skillLevel}}</td>
          <td>{{player.elo}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>