.wrapper-player {
    .player {
        .initial-info {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            .social-media {
                display: flex;
                flex-direction: column;
                margin-left: 25%;
                a {
                    font-size: 35px;
                    cursor: pointer;
                }
                .empty {
                    opacity: 0.2;
                }
            }
        }
        table {
            width: 50%;
            font-size: 12px;
            
        }
        .stats {
            margin: 10px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            .round-graph {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 50%;
            }
        }
    }
}